body {
  background: #eee;
  font-family: sans-serif;
}

.card, .title, .content, .button-container, button {
  background: #e3f4ff;
  padding: 8px;
}

.card {
  width: 400px;
  background: #fff;
}

.title, .content {
  margin-bottom: 8px;
}

.title {
  font-size: 16px;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;

  display: block;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}